@import url("@triadica/touch-control/assets/touch-control.css");

body {
  box-sizing: border-box;
  margin: 0;
}

.debug {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  background-color: #333;
  padding: 8px;
  color: white;
  font-family: menlo, monospace;
  font-size: 12px;
}